<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lntu.dao.OrderMapper" >

  <resultMap id="BaseResultMap" type="com.lntu.entity.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="pay_sn" property="paySn" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="del" property="del" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="price_h" property="priceH" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="CHAR" />
    <result column="address_xq" property="addressXq" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="post_remark" property="postRemark" jdbcType="VARCHAR" />
    <result column="product_num" property="productNum" jdbcType="INTEGER" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="kuaidi_name" property="kuaidiName" jdbcType="VARCHAR" />
    <result column="kuaidi_num" property="kuaidiNum" jdbcType="VARCHAR" />
    <result column="back" property="back" jdbcType="CHAR" />
    <result column="back_remark" property="backRemark" jdbcType="VARCHAR" />
    <result column="back_addtime" property="backAddtime" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, order_sn, pay_sn, shop_id, uid, price, amount, addtime, del, type, price_h, status, 
    vid, receiver, tel, address_xq, code, post, remark, post_remark, product_num, trade_no, 
    kuaidi_name, kuaidi_num, back, back_remark, back_addtime, order_type
  </sql>

  <!--增加订单-->
  <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.lntu.entity.Order" >
    insert into bgk_order (id, order_sn, pay_sn,
      shop_id, uid, price,
      amount, addtime, del,
      type, price_h, status,
      vid, receiver, tel, address_xq,
      code, post, remark,
      post_remark, product_num, trade_no,
      kuaidi_name, kuaidi_num, back,
      back_remark, back_addtime, order_type
      )
    values (#{id,jdbcType=INTEGER}, #{orderSn,jdbcType=VARCHAR}, #{paySn,jdbcType=VARCHAR},
      #{shopId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL},
      #{amount,jdbcType=DECIMAL}, #{addtime,jdbcType=INTEGER}, #{del,jdbcType=TINYINT},
      #{type,jdbcType=CHAR}, #{priceH,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT},
      #{vid,jdbcType=INTEGER}, #{receiver,jdbcType=VARCHAR}, #{tel,jdbcType=CHAR}, #{addressXq,jdbcType=VARCHAR},
      #{code,jdbcType=INTEGER}, #{post,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{postRemark,jdbcType=VARCHAR}, #{productNum,jdbcType=INTEGER}, #{tradeNo,jdbcType=VARCHAR},
      #{kuaidiName,jdbcType=VARCHAR}, #{kuaidiNum,jdbcType=VARCHAR}, #{back,jdbcType=CHAR},
      #{backRemark,jdbcType=VARCHAR}, #{backAddtime,jdbcType=INTEGER}, #{orderType,jdbcType=TINYINT}
      )
  </insert>

  <!--按id修改订单-->
  <update id="updateOrderById" parameterType="com.lntu.entity.Order" >
    update bgk_order
    set order_sn = #{orderSn,jdbcType=VARCHAR},
      pay_sn = #{paySn,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      addtime = #{addtime,jdbcType=INTEGER},
      del = #{del,jdbcType=TINYINT},
      type = #{type,jdbcType=CHAR},
      price_h = #{priceH,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      vid = #{vid,jdbcType=INTEGER},
      receiver = #{receiver,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=CHAR},
      address_xq = #{addressXq,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER},
      post = #{post,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      post_remark = #{postRemark,jdbcType=VARCHAR},
      product_num = #{productNum,jdbcType=INTEGER},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      kuaidi_name = #{kuaidiName,jdbcType=VARCHAR},
      kuaidi_num = #{kuaidiNum,jdbcType=VARCHAR},
      back = #{back,jdbcType=CHAR},
      back_remark = #{backRemark,jdbcType=VARCHAR},
      back_addtime = #{backAddtime,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--统计订单个数-->
  <select id="countOrderStatus" resultType="java.lang.Integer">
    select count(1) from bgk_order where uid = #{uid} and status = #{status} and del = 0
  </select>

  <!--查询订单-->
  <select id="selectOrderById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from bgk_order where id = #{id} and del = 0
  </select>

</mapper>