<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lntu.dao.OrderProductMapper" >

  <resultMap id="BaseResultMap" type="com.lntu.entity.OrderProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pay_sn" property="paySn" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="photo_x" property="photoX" jdbcType="VARCHAR" />
    <result column="pro_buff" property="proBuff" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="pro_guige" property="proGuige" jdbcType="VARCHAR" />
  </resultMap>

  <!--订单详情数据-->
  <resultMap id="order_detail_view_data" type="com.lntu.view.OrderDetailViewData">
    <result column="photo_x" property="photoX"/>
    <result column="pid" property="pid"/>
    <result column="name" property="name"/>
    <result column="price_yh" property="priceYh"/>
    <result column="product_num" property="productNum"/>
    <result column="amount" property="proCount"/>
    <result column="amount" property="price"/>
    <result column="id" property="id"/>
    <result column="order_sn" property="orderSn"/>

  </resultMap>

  <sql id="Base_Column_List" >
    id, pid, pay_sn, order_id, name, price, photo_x, pro_buff, addtime, num, pro_guige
  </sql>

  <!--批量插入订单商品-->
  <insert id="insertOrderProduct">
    insert into bgk_order_product(pid, pay_sn, order_id, name, price, photo_x, pro_buff, addtime, num, pro_guige) values
    <foreach collection="orderProductList" item="orderProduct" separator=",">
      (#{orderProduct.pid},#{orderProduct.paySn},#{orderProduct.orderId},#{orderProduct.name},#{orderProduct.price},#{orderProduct.photoX},
      #{orderProduct.proBuff},#{orderProduct.addtime},#{orderProduct.num},#{orderProduct.proGuige})
    </foreach>
  </insert>

  <!--按uid查找订单商品-->
  <select id="selectOrderProductByUidStatus" resultMap="order_detail_view_data">
    select bgk_product.photo_x,bgk_product.id as pid,bgk_product.name,bgk_product.price_yh,bgk_order_product.num as product_num,bgk_order.amount,bgk_product.price,bgk_order.id,bgk_order.order_sn
    from bgk_order
    left join bgk_order_product on bgk_order_product.order_id = bgk_order.id
    left join bgk_product on bgk_order_product.pid = bgk_product.id
    where bgk_order.uid = #{uid} and bgk_order.status = #{status} and bgk_order.del = 0
  </select>

  <!--按id查找订单中的商品信息-->
  <select id="selectOrderProductById" resultMap="order_detail_view_data">
    select bgk_product.photo_x,bgk_product.name,bgk_product.price_yh,bgk_order_product.num as product_num
    from bgk_order
    left join bgk_order_product on bgk_order_product.order_id = bgk_order.id
    left join bgk_product on bgk_order_product.pid = bgk_product.id
    where bgk_order.id = #{id}
  </select>

</mapper>